.header{
    background-color: var(--color_nav_bg);
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    /* padding: 15px 40px; */
}

.left{
    display: flex;
    gap: 1rem;
}

.iconNavbar{
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: inline-flex;
    position: relative;
}

.iconNavbar span{
    position: absolute;
    top: -7px;
    right: -6px;
    background-color: #0b499b;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 0.75rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.left a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 3px solid #1a73e8;
    border-radius: 2px;
    padding: 0 1px;
    transition: all 0.2s ease;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}