@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    /* color */
  --color_nav_bg: rgb(30, 41, 59);
  --color_nav_txt: rgb(100, 116, 139);
  --color_nav_ctg: rgb(226, 232, 240);
  --color_nav_active: rgb(85, 79, 232);
  --color_nav_not_active: rgb(61, 74, 94);
  --color_nav_active_bg: rgb(15, 23, 42);
  --body-background : rgb(240, 244, 248);
  --nav-width: 16rem;

  /* margin */
  --margin-xl: 4rem;
  --margin-lg: 3rem;
  --margin-md: 2rem;
  --margin-sm: 1rem;
  --margin-xs: 0.8rem;
  --margin-xxs: 0.5rem;
  --padding-xl: 4rem;
  --padding-lg: 3rem;
  --padding-md: 2rem;
  --padding-sm: 1rem;
  --padding-xs: 0.8rem;
  --padding-xxs: 0.5rem;
}

html{
    font-size: 12px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

*{
    font-family: "Poppins", sans-serif;

}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--body-background);
}

.container{
    width: 88%;
    max-width: 1200px;
    margin: auto;
}
